nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
.main-body {
    min-height: 100vh;
    background-image: url('/assets/Engg-Building.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}