<div class="main-body">
  <!-- Swapneel Suhas Vaidya -->
  <!-- Navigation Bar and ROuting logic-->
  <nav style="padding: 1em; background-color: #333; color: white; text-align: center;">
    <a routerLink="/" href="/" style="color: white; margin: 0 1em;">CS Department</a> |
    <a routerLink="/survey" href="/survey" style="color: white; margin: 0 1em;">Survey</a> |
    <a routerLink="/listall" href="/listall" style="color: white; margin: 0 1em;">List All</a>
  </nav>

  <!-- Router Outlet for Displaying Routed Components -->
  <router-outlet></router-outlet>

</div>